.jewel {
    width: 95%;
}

.jewel_details {
    font-family: 'Futura';
    text-transform: uppercase;
    text-align: center;
}

.jewel_details > h3 {
    font-size: 0.8125rem;
    font-weight: 800;
    line-height: 1.2307692308rem;
    letter-spacing: 0.03rem;
}

.jewel_details > button {
    font-family: 'Futura Light';
    background: rgba(0, 0, 0, 0);
    color: #1f1f1f;
    border: 1px solid #1f1f1f;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 0.75rem;
    padding: 0.75rem 1.875rem;
    transition: all 0.25s ease-out;
}

.jewel_details > button:hover {
    cursor: pointer;
    background: #1f1f1f;
    color: #fff;
}
