.container {
    padding: 80px 0;
    max-width: 106rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    width: calc(25% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    padding-bottom: 1rem;
    font-family: 'Capitals';
}

.text > h2 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
}

.jewels {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
}

@media screen and (max-width: 1320px) {
    .text > h2 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1034px) {
    .text > h2 {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 889px) {
    .text > h2 {
        font-size: 0.7rem;
    }
}
